/* From Uiverse.io by Randdose */ 
.start-button{
    all: unset;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.6em 2em;
    border: #569cd6 solid 0.15em;
    border-radius: 0.25em;
    color: #f29f05;

    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    transition: border 300ms, color 300ms;
    user-select: none;
}
.start-button p {
    z-index: 1;
    font-weight: 600;
    font-size: 2.5vmin;
}
  
.start-button:hover{
    color: #1f1f1f;
    border-color: #f29f05;
}
  
.start-button:active{
    border-color: #569cd6;
}
  
.start-button::after, .start-button::before {
    content: "";
    position: absolute;
    width: 9em;
    aspect-ratio: 1;
    background: #569cd6;
    opacity: 50%;
    border-radius: 50%;
    transition: transform 500ms, background 300ms;
}
  
.start-button::before {
    left: 0;
    transform: translateX(-8em);
}
  
.start-button::after {
    right: 0;
    transform: translateX(8em);
}
  
.start-button:hover:before {
    transform: translateX(-1em);
    background-color: #f29f05;
}
  
.start-button:hover:after {
    transform: translateX(1em);
    background-color: #f29f05;
}
  
.start-button:active:before,
  .start-button:active:after {
    background: #569cd6;
}

.cta {
  display: flex;
  /* Cambia a Flexbox para centrar */
  justify-content: center;
}

.cta-button {
  display: inline-block;
  background-color: #181818;
  color: #fff;
  padding: 10px 20px;
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  /*Agregamos la transicion de color al botón ya que si este estilo lo ponemos en hover solo funciona cuando pones el raton encima y al quitarlo no hace el transition*/
  transition: .4s ease-in-out;
}

.cta-button:hover {
  background-color: #569cd6;
	color: white; /*FIXME Redundante porque la fuente ya es blanca antes del hover*/
}