/* From Uiverse.io by Randdose */ 
.start-button{
    all: unset;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.6em 2em;
    border: #569cd6 solid 0.15em;
    border-radius: 0.25em;
    color: #f29f05;

    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    transition: border 300ms, color 300ms;
    user-select: none;
}
.start-button p {
    z-index: 1;
    font-weight: 800;
    font-size: 1.6em;
}
  
.start-button:hover{
    color: #1f1f1f;
    border-color: #f29f05;
}
  
.start-button:active{
    border-color: #569cd6;
}
  
.start-button::after, .start-button::before {
    content: "";
    position: absolute;
    width: 9em;
    aspect-ratio: 1;
    background: #569cd6;
    opacity: 50%;
    border-radius: 50%;
    transition: transform 500ms, background 300ms;
}
  
.start-button::before {
    left: 0;
    transform: translateX(-8em);
}
  
.start-button::after {
    right: 0;
    transform: translateX(8em);
}
  
.start-button:hover:before {
    transform: translateX(-1em);
    background-color: #f29f05;
}
  
.start-button:hover:after {
    transform: translateX(1em);
    background-color: #f29f05;
}
  
.start-button:active:before,
  .start-button:active:after {
    background: #569cd6;
}

