@font-face {
    font-family: 'Inter';
    src: url();
}
/*Fuente del logo*/
@font-face {
	font-family: 'Urbanist';
	src: url(../fonts/Urbanist-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Inter' ;
    color: white;
    min-block-size: 60vh;
    box-sizing: border-box;
    display: grid;
    place-content: center;
    font-family: Inter;
    font-size: min(100%, 4vmin);
    
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    top: 0;
    margin-top: 3vh;
    width: 100%;

}
.logo-container{
    position: absolute;
    left: 5vw;
    margin-top: 3vh;
}
.logo-img{
    height: 5vh;
}

.menu-container{
    margin-top: 3vh;
}
.menu-options-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    list-style: none;
}
.menu-options-list li a{
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}
.menu-options-list li a:hover{
    color: #5696D6;
}
.login-options-container{
    margin-top: 3vh;
    position: absolute;
    right: 5vw;
}
.login-options-list{
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 5vw;
    list-style: none;
}
.login-options-list li a{
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}
.login-options-list li a:hover{
    color: #5696D6;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    gap: 5vh;
}
.description-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    margin-top: 10vh;

}
.main-subtitle{
    font-size: 3vmin;
    line-height: 1.1;
    max-inline-size: 50ch;
    margin: auto;
}
.features-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    margin-top: 10vh;
    height: 100vh;
}

section {
    /*  leverage cascade for cross-browser gradients  */
    background: 
    linear-gradient(20deg, hsl(270, 100%, 50%) 20%, hsl(39, 100%, 50%) 90%) fixed;

    ;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  } 
 
  h1, p, body {
    margin: 0;
  }
  
  h1 {
    font-size: 7vmin;
    line-height: 1.1;
    max-inline-size: 15ch;
    margin: auto;
  }
  
  p {
    font-family: "Inter", ui-monospace, monospace;
    margin-top: 1ch;
    line-height: 1.35;
    max-inline-size: 40ch;
    margin: auto;
  }
  
  html {
    block-size: 100%;
    inline-size: 100%;
    text-align: center;
  }

