@font-face {
    font-family: 'Inter';
    src: url();
}
/*Fuente del logo*/
@font-face {
	font-family: 'Urbanist';
	src: url(../fonts/Urbanist-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Inter' ;
    color: white;
    min-block-size: 60vh;
    box-sizing: border-box;
    display: grid;
    place-content: center;
    font-family: Inter;
    font-size: min(100%, 4vmin);
    
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    top: 0;
    margin-top: 3vh;
    width: 100%;
    z-index: 3;

}
.logo-container{
    position: absolute;
    left: 5vw;
    margin-top: 3vh;
}
.logo-img{
    height: 5vh;
}

.menu-container{
    margin-top: 3vh;
}
.menu-options-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    list-style: none;
}
.menu-options-list li a{
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}
.menu-options-list li a:hover{
    color: #5696D6;
}
.login-options-container{
    margin-top: 3vh;
    position: absolute;
    right: 5vw;
}
.login-options-list{
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 5vw;
    list-style: none;
}
.login-options-list li a{
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}
.login-options-list li a:hover{
    color: #5696D6;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    gap: 5vh;
}
.description-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    margin-top: 10vh;

}
.main-subtitle{
    font-size: 3vmin;
    line-height: 1.1;
    max-inline-size: 50ch;
    margin: auto;
}
/* Contenedor de las imágenes */
.floating-logo-container {
    position: absolute;
    width: 80vw; /* Ajusta el tamaño del contenedor */
    height: 80vh;
    margin: 100px auto; /* Centrado en la página */
}
/* Estilo de cada imagen */
.floating-logo1, .floating-logo2, .floating-logo3, .floating-logo4, .floating-logo5 {
    position: absolute;
    width: 50px; /* Ajusta el tamaño de las imágenes */
    height: 50px;
    top: 50%;
    left: 50%;
    transform-origin: center; /* El origen del giro está en el centro de la imagen */
    animation-iteration-count: infinite; /* La animación se repite infinitamente */
}

/* Animación de órbita para cada imagen con diferente radio */
.floating-logo1 {
    animation: orbitar1 30s infinite;
    animation-timing-function: linear;
}

.floating-logo2 {
    animation: orbitar2 40s infinite;
    animation-timing-function: linear;
}

.floating-logo3 {
    animation: orbitar3 30s infinite;
    animation-timing-function: linear;
}

.floating-logo4 {
    animation: orbitar4 35s infinite;
    animation-timing-function: linear;
}

.floating-logo5 {
    animation: orbitar5 50s infinite;
    animation-timing-function: linear;
}

/* Definir las animaciones de órbita con diferentes radios */
@keyframes orbitar1 {
    0% {
        transform: rotate(0deg) translateX(25vmin) rotate(0deg); /* Radio de 100px */
    }
    100% {
        transform: rotate(360deg) translateX(25vmin) rotate(-360deg);
    }
}

@keyframes orbitar2 {
    0% {
        transform: rotate(72deg) translateX(30vmin) rotate(-72deg); /* Radio de 120px */
    }
    100% {
        transform: rotate(432deg) translateX(30vmin) rotate(-432deg);
    }
}

@keyframes orbitar3 {
    0% {
        transform: rotate(144deg) translateX(45vmin) rotate(-144deg); /* Radio de 150px */
    }
    100% {
        transform: rotate(504deg) translateX(45vmin) rotate(-504deg);
    }
}

@keyframes orbitar4 {
    0% {
        transform: rotate(216deg) translateX(33vmin) rotate(-216deg); /* Radio de 180px */
    }
    100% {
        transform: rotate(576deg) translateX(33vmin) rotate(-576deg);
    }
}

@keyframes orbitar5 {
    0% {
        transform: rotate(288deg) translateX(45vmin) rotate(-288deg); /* Radio de 200px */
    }
    100% {
        transform: rotate(648deg) translateX(45vmin) rotate(-648deg);
    }
}

.features-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    margin-top: 10vh;
    height: 100vh;
}

section {
    /*  leverage cascade for cross-browser gradients  */
    background: 
    linear-gradient(20deg, hsl(270, 100%, 50%) 20%, hsl(39, 100%, 50%) 90%) fixed;

    ;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  } 
 
  h1, p, body {
    margin: 0;
  }
  
  h1 {
    font-size: 7vmin;
    line-height: 1.1;
    max-inline-size: 15ch;
    margin: auto;
  }
  
  p {
    font-family: "Inter", ui-monospace, monospace;
    margin-top: 1ch;
    line-height: 1.35;
    max-inline-size: 40ch;
    margin: auto;
  }
  
  html {
    block-size: 100%;
    inline-size: 100%;
    text-align: center;
  }

