@font-face {
    font-family: 'Inter';
    src: url();
}
/*Fuente del logo*/
@font-face {
	font-family: 'Urbanist';
	src: url(../fonts/Urbanist-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Inter' ;
    background-color: #1f1f1f;
    width: 100vw;
    height: 100vh;
    
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;

}
.logo-container{
    position: absolute;
    left: 5vw;
    margin-top: 3vh;
}
.logo-img{
    height: 5vh;
}

.menu-container{
    margin-top: 3vh;
}
.menu-options-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    list-style: none;
}
.menu-options-list li a{
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}
.menu-options-list li a:hover{
    color: #5696D6;
}
.login-options-container{
    margin-top: 3vh;
    position: absolute;
    right: 5vw;
}
.login-options-list{
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 5vw;
    list-style: none;
}
.login-options-list li a{
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}
.login-options-list li a:hover{
    color: #5696D6;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    gap: 5vh;
    color: #fff;
}
.description-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    margin-top: 10vh;

}

