header {
    background-color: #f2de8d;
    padding: 2em;
    text-align: center;
}

header h1 {
    font-size: 2em;
    font-family: 'Pacifico', cursive;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2de8d;
    font-family: 'Pacifico', cursive;
    color: #fff;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

main section {
    background-color: #fff;
    padding: 1em;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

main section h2 {
    font-size: 1.5em;
    margin-top: 0;
}

main section p {
    line-height: 1.5em;
}

main section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

main section li {
    margin-bottom: 10px;
}

footer {
    background-color: #f2de8d;
    padding: 1em;
    text-align: center;
}

footer p {
    margin: 0;
}
